# SPDX-FileCopyrightText: 2023 Zextras <https://www.zextras.com>
#
# SPDX-License-Identifier: AGPL-3.0-only

[Unit]
Description=Carbonio Tasks database sidecar
Requires=network-online.target
After=network-online.target
PartOf=carbonio.target

[Service]
User=carbonio-tasks-db
ExecStart=/usr/bin/consul connect envoy \
    -token-file /etc/carbonio/tasks-db/service-discover/token \
    -admin-bind localhost:0 \
    -sidecar-for carbonio-tasks-db
Restart=on-failure
RestartSec=15
ExecReload=/usr/bin/kill -HUP $MAINPID
KillSignal=SIGINT
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
